
.i{
    display: flex;
    height: 100vh;
    
}
.h2{
    font-size: 10px;
}

.i-left{
    flex: 1;
    display: flex;

}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 20px;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.i-intro{
    font-size: 25px;
    font-weight: 300px;
    align-items: center;
    justify-content: center;
    

}
.name{
    font-size: 50px;
    color: green;

}
.i-desc{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 12px 13px blue;
}
@media (max-width: 768px) {
    .name{
        font-size: 28px;
    }
    .i-intro{
        font-size: 20px;
    }
    .i-desc{
        font-size: 15px;
    }
    .i-title-item{
        font-size: 10px;
    }
    
}

.i-name{
    font-size: 80px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    } 
}

.i-title-item{
    padding: 10px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(40, 8, 218);
    background-color: white;
    display: flex;
    align-items: center;
}
.i-img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;

    
}
.i-bg{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: rgb(14, 77, 171);
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;

}
@media max-width: 768px{

    
}