.a {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Allow absolute children to position relative to this */
}

.a-right {
    flex: 1;
    padding: 20px; /* Add padding to create space */
    margin-left: 20px;
}

.a-card.bg {
    position: relative;
    top: 50px; /* Adjust if necessary */
    left: 50px; /* Adjust if necessary */
    z-index: 1; /* Ensure it stays behind the image */
}

.a-card {
    width: 100%;
    height: 70vh;
    border-radius: 30px;
    background-color: rgb(65, 58, 58);
    position: relative; /* Keep it relative to stay within the flex context */
    z-index: 1; /* Ensure it stays behind the image */
    margin-top: -20px; /* Use a negative margin to pull it up and create overlap */
    margin-right: -30PX;
}


.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* Allow the image to overlap the card */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    border-radius: 30px; /* Match card's border radius */
    box-shadow: 10px 5px 10px blue;
    z-index: 2; /* Make sure the image is above the card */
}

.a-title {
    margin-top: 20px; /* Add margin to separate title from the image */
    margin-left: 20px;
}

.a-desc {
    margin-top: 20px; /* Add margin to separate description from the title */
    margin-left: 20px;
    font-weight: 300px;
}
.sub-desc{
    margin-left: 20px;
}
.a-award-img{
    height: 120px;
    width: 120px;
    margin-left: 20px;
    border-radius: 20px;
}
.a-title{
    font-weight: 400px;
    color: blue;
    font-size: 50px;
}
.a-sub{
    margin: 20px 0px;
}
.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a-award-text{
    width: 70%;
}
.a-award-title{
    font-weight: bold;
    color: grey;
}
.a-award-desc{
    
}
